/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/
{
	margin: 0;
	padding: 0;
}


#contenidos{
	width: auto;
	height: auto;
	margin: auto;
	position: relative;
	

}


/*ETIQUETAS*/
body{
background-color: black;
background-repeat: no-repeat;
background-size: cover;
}

h1{
font-family: 'Shadows Into Light', cursive;
color: white;
margin-left: auto;
font-size: auto;
text-align: center; 
}

h2{
font-family: 'Indie Flower', cursive;
color: white;
margin-left: auto;
font-size: auto;
text-align: left; 
}

h3{
font-family: 'Shadows Into Light', cursive;;
color: white;
font-size: 30px;
text-align: center; 
}


header{
	width: 100%;
	height: auto;
	background-color: #ffffff;
}

nav{
width: 1000PX;
margin: 20px auto;
overflow: hidden;
height: auto;
background: white;
border-radius: 4px;
background: #797979;
border-bottom: 1px solid #555555;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8b8b8b+0,6a6a6a+50,5e5e5e+51,717171+100 */
background: #8b8b8b; /* Old browsers */
background: -moz-linear-gradient(top,  #8b8b8b 0%, #6a6a6a 50%, #5e5e5e 51%, #717171 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#717171',GradientType=0 ); /* IE6-9 */


}
ul, ol{
list-style: none;
margin: auto;
padding-top: 4px;
height: auto;
width: auto;
}
/*
li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: blue;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset; 
*/
}

section{
	width: 700px;
	background: gray;
	height: 600px;
	float: right;
	margin-top: 20px;
	border-radius: 10px;
}
aside{

	width: 280px;
	background: white;
	height: 600px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

footer{
width: auto;
height: auto;
margin-top: auto;
border-radius: auto;
margin-bottom: auto;
margin-right: auto;
background-color: black;
}

p{

	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}




/*CLASES*/

.menu{
	width: 85%;
	display: table;
	table-layout: fixed;
	float: left;

}


.menu  li {
	display: table-cell;
	overflow: hidden;
	width: 100%;
	border-right: 1px solid #5C5C5C;
	border-left: 1px solid rgba(255,255,255,.2);
	text-align: center;
	


}

.menu li:first-child {
	border-left: none;

}

.menu li:first-child:hover {
	border-left: none;
}

.menu li a {
	color: white;
	display: block;
	font-family: "Myrias Pro",Arial;
	font-size: 14px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgba(0,0,0,.3);
}

.menu li:hover {
	background: rgba(0,0,0,.3);
	border-right: 1px solid-transparent;
	border-left: 1px solid-transparent;
	border-bottom: none;
}

.menu li:active {
	background: rgba(0,0,0,.3);
	box-shadow: inset 0px 3px 2px rgba(0,0,0,1);
}


}



	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7e7e7e+0,797979+50,6e6e6e+51,767676+100 */
background: #7e7e7e; /* Old browsers */
background: -moz-linear-gradient(top,  #7e7e7e 0%, #797979 50%, #6e6e6e 51%, #767676 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #7e7e7e 0%,#797979 50%,#6e6e6e 51%,#767676 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #7e7e7e 0%,#797979 50%,#6e6e6e 51%,#767676 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7e7e', endColorstr='#767676',GradientType=0 ); /* IE6-9 */

}


}





















